@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

:root {
    box-sizing: border-box;
    --heading-font: 'Rubik Iso', cursive;
    --secondary-font: 'Inconsolata', monospace;
    --main-color: rgb(214, 156, 196);
    --secondary-color: rgb(226, 239, 255);
    --background-color: rgb(255, 255, 236);
}

/* This section is for the homepage */
#background {
    background-color: var(--secondary-color);
}
.container {
    width: min(375px, 100%);;
    margin: auto;
    background-color: var(--background-color);
    padding: 2rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header {
    color: var(--main-color);
    font-family: var(--heading-font);
    font-size: 50px;
    text-align: center;
}
.welcomeMessage {
    font-family: var(--secondary-font);
    font-size: 13px;
}
.btn {
    font-family: var(--secondary-font);
    background-color: var(--main-color);
    padding: 0.5rem;
    width: fit-content;
    align-self: center;
}
.btn a {
    text-decoration: none;
    color: black;
}
.footer {
    margin-top: 2rem;
    font-family: var(--secondary-font);
    font-size: 11px;
    position: relative;
    align-self: center;
    color: var(--main-color);
}

/* This section is for each question page */
.questionSection {
    display: flex;
    gap: 0.5rem;
    font-family: var(--secondary-font);
}
.answerSection {
    font-family: var(--secondary-font);
}
.answerSection li {
    padding: 0.5rem;
}



