@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

:root {
    box-sizing: border-box;
    --heading-font: 'Rubik Iso', cursive;
    --secondary-font: 'Inconsolata', monospace;
}
#background {
    background-color: rgb(226, 239, 255);
}
.container {
    width: 375px;
    margin: auto;
    background-color: rgb(255, 255, 236);
    padding: 2rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header {
    font-family: var(--heading-font);
    font-size: 50px;
    text-align: center;
}
.welcomeMessage {
    font-family: var(--secondary-font);
    font-size: 13px;
}
.btn {
    color: black;
    font-family: var(--secondary-font);
    text-decoration: none;
    background-color: rgb(255, 218, 244);
    padding: 0.5rem;
    width: fit-content;
    align-self: center;
}